<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newag">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".mvp.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.costs.fish_cost"
        android:exported="true">
    </activity>
        <activity android:name=".mvp.ui.costs.vegetable_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.costs.other_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.costs.energy_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.reduce.reduce_add"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.costs.Input_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.costs.all_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.costs.feed_cost"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.plus.people_plus"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.plus.fish_vegetable_plus"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.accounting.Sales_accounting"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.input_period.fish_period"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.input_period.other_period"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.input_period.vegetable_period"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.plus.period_plus"
            android:exported="true">
        </activity>

        <activity android:name=".mvp.ui.template.drug_template"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.template.feed_template"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.template.fish_template"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.template.other_template"
            android:exported="true">
        </activity>
        <activity android:name=".mvp.ui.template.vegetable_template"
        android:exported="true">
    </activity>
        <activity android:name=".mvp.ui.plus.template_plus"
            android:exported="true">
        </activity>
    </application>

</manifest>